@font-face {
    font-family: "plain";
    src: url(./fonts/plain-regular-webfont.ttf);
}
@font-face {
    font-family: "plain light";
    src: url(./fonts/plain-light-webfont.ttf);
}
@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}
@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

#main {
    background-color: #151515;
    position: relative;
}

/* #crsr{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
} */
.mousefollower {
    border: 2px solid #ffffff;
    background-color: rgb(255, 255, 255);
    scale: 2;
    mix-blend-mode: difference;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #111;
    padding: 25vh 12vw;
}

.line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2.5vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
}

.line h2 {
    font-size: 6vw;
    text-transform: uppercase;
    font-family: 'plain';
}

.line .h5loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.line .h5loader h5,
.line .h5loader h4 {
    font-size: 2.5vw;
    font-family: 'silk serif';
}

.line .h5loader h5 {
    width: 3.5vw;
    text-align: right;
}

.line h3 {
    text-transform: uppercase;
    font-size: 4.4vw;
    font-family: 'plain light';
    -webkit-animation: nowAnime 2s linear 1s infinite;
            animation: nowAnime 2s linear 1s infinite;
}

@-webkit-keyframes nowAnime {
    0% {
        opacity: 1;
        font-family: 'plain light';
        color: #111;
        -webkit-text-stroke: 1px #fff;
    }

    48% {
        opacity: 0;
        font-family: 'plain light';
        color: #111;
        -webkit-text-stroke: 1px #fff;
    }

    50% {
        opacity: 1;
        font-family: 'silk serif';
        color: #111;
        -webkit-text-stroke: 1px #fff;
    }

    100% {
        opacity: 0;
        font-family: 'silk serif';
        color: #111;
        -webkit-text-stroke: 1px #fff;
    }
}

@keyframes nowAnime {
    0% {
        opacity: 1;
        font-family: 'plain light';
        color: #111;
        -webkit-text-stroke: 1px #fff;
    }

    48% {
        opacity: 0;
        font-family: 'plain light';
        color: #111;
        -webkit-text-stroke: 1px #fff;
    }

    50% {
        opacity: 1;
        font-family: 'silk serif';
        color: #111;
        -webkit-text-stroke: 1px #fff;
    }

    100% {
        opacity: 0;
        font-family: 'silk serif';
        color: #111;
        -webkit-text-stroke: 1px #fff;
    }
}


/* page 1 start */
#page1 {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 8vw;
    background-color: #151515;
}

#nav {
    width: 100%;
    padding: 6.5vh 5.2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav-part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.5vw;
    font-family: 'plain';
}

.nav-part2 h4 {
    font-size: 15px;
    font-weight: 300;
}

.hero-items {
    width: 100%;
}

.hero-items::before {
    content: "01";
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
    position: absolute;
    left: 19%;
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 72%;
    margin-left: auto;
    overflow: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1vw;
}

.hero:nth-child(1) {
    margin-top: 15vh;
}

.hero h1 {
    font-size: 7.5vw;
    font-family: 'plain light';
    line-height: 7.5vw;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.hero h2 {
    font-size: 7.5vw;
    font-family: 'plain light';
    line-height: 7.5vw;
    text-transform: uppercase;
    font-weight: 600;
}

#hero3 h1 {
    border-bottom: 0.8vw solid #ffffff;
    padding-bottom: 0.8vw;
    margin-right: 1vw;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    height: 8.5vw;
}

#hero3 h1:hover {
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-weight: 300;
    border-bottom: transparent;
}

#hero3 {
    position: relative;
    z-index: 999;
}

#hero-flag {
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
}

/* page 1 end */

/* page 2 start */
#page2 {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    padding-top: 15vh;
    position: relative;
}

.video-container {
    width: 72vw;
    height: 70vh;
    position: absolute;
    right: 0;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: rgb(54, 54, 199); */
    /* overflow: hidden; */
}

.video-container video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
}

.video-cursor {
    width: 8.5vw;
    height: 8.5vw;
    border-radius: 50%;
    background-color: #FFA63D;
    z-index: 99;
    position: absolute;
    top: -10%;
    left: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.video-cursor i {
    font-size: 2vw;
}

.video-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* page 2 end */

/* page 3 start */
#page3 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #151515;
}

#page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    font-family: 'plain';
    font-weight: 500;
    margin-bottom: 5vw;
    position: relative;
    margin-left: 28%;
}

#page3 h1::before {
    content: "02";
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
    position: absolute;
    left: -12%;
    top: 8%;
}

#page3 .underline1 {
    width: 65%;
    border-top: 2px solid #ffffffdc;
    padding-bottom: 4vw;
    margin-left: 28%;
}

.image-div-container {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5vw;
    /* background-color: #3F7DF4; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2vw;
}

.image-div-out {
    width: 31vw;
    height: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2vw;
    border-bottom: 2px solid #ffffff8a;
}

.image-div-out:nth-child(1) {
    width: 23vw;
    height: 42vw;
    padding-bottom: 2vw;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.image-div-out:nth-child(7) {
    width: 23vw;
    height: 38vw;
    padding-bottom: 2vw;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.image-div-out h3 {
    font-family: 'plain';
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: 500;
}

.image-div-out .img-div-desc {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'plain';
    font-size: 1vw;
}

.image-div {
    /* background-color: #FFA63D; */
    width: 100%;
    height: 80%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    overflow: hidden;
}

.image-div img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.page3-circle1 {
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.page3-circle1 svg {
    height: 33%;
}

.page3-circle2 {
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    border: 2px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.page3-circle2 svg {
    height: 33%;
    rotate: -45deg;
}

.page3-circle3 {
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: auto 0 0 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.page3-circle3 svg {
    height: 33%;
    rotate: -90deg;
}

.circle-in {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    scale: 0;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

.circle-in p {
    font-size: 1.05vw;
    color: #000;
    width: 55%;
    opacity: 0;
    -webkit-transition: all ease 0.5s 0.3s;
    -o-transition: all ease 0.5s 0.3s;
    transition: all ease 0.5s 0.3s;
}

.page3-circle1:hover .circle-in {
    scale: 1;
}

.page3-circle1:hover p {
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in {
    scale: 1;
}

.page3-circle2:hover p {
    scale: 1;
    opacity: 1;
}

.page3-circle3:hover .circle-in {
    scale: 1;
}

.page3-circle3:hover p {
    scale: 1;
    opacity: 1;
}

.yellow-div {
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    font-family: 'plain';
    background-color: #FFA63D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 6vh auto;
    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.yellow-div:hover {
    scale: 0.95;
}

/* page 3 end */

/* page 4 start */
#page4 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #151515;
}

.page4-content {
    width: 70vw;
    padding-top: 20vh;
    position: relative;
    margin-left: 28%;
}

.page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    font-family: 'plain';
    font-weight: 500;
    margin-bottom: 5vw;
    position: relative;
}

.page4-content h1::before {
    content: "03";
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
    position: absolute;
    left: -15%;
    top: 8%;
}

.page4-content .underline {
    width: 92%;
    border-top: 2px solid #ffffff79;
    padding-bottom: 4vw;
}

.page4-content>p {
    font-size: 2.3vw;
    font-family: 'plain light';
    width: 50%;
    margin-bottom: 4vw;
}

.page4-flex-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.page4-flex-div img {
    width: 47%;
}

.page4-flex-div p {
    width: 29%;
    font-family: 'plain light';
    font-size: 1.1vw;
    margin-left: 2vw;
}

.page4-blue-div {
    background-color: #3F7DF4;
    width: 32vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4vw 3vw;
    position: relative;
    top: -16vw;
    left: 33%;
}

.blue-div-elem {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2vw 0;
    font-family: 'plain light';
    border-bottom: 2px solid #ffffff91;
}

.blue-div-elem h2 {
    font-size: 1.7vw;
    font-weight: 500;
}

.blue-div-elem p {
    width: 35%;
    font-size: 1vw;
}

/* page 4 end */

/* page 5 start */
#page5 {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: relative;
    padding: 12vh 0;
}

.anime-elem {
    white-space: nowrap;
    margin-bottom: 1vw;
    line-height: 6vw;
}

.anime-elem h1 {
    display: inline-block;
    font-size: 7vw;
    font-family: 'plain';
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    margin-left: 16px;
    -webkit-animation-name: page5animation;
            animation-name: page5animation;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.anime-elem h1 span {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    font-family: 'silk serif';
}

.anime-elem2 {
    white-space: nowrap;
    margin-bottom: 1vw;
    line-height: 6vw;
}

.anime-elem2 h1 {
    display: inline-block;
    font-size: 7vw;
    font-family: 'plain';
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    margin-left: 16px;
    -webkit-animation-name: page5animation;
            animation-name: page5animation;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

.anime-elem2 h1 span {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    font-family: 'silk serif';
}

@-webkit-keyframes page5animation {
    from {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

@keyframes page5animation {
    from {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

/* page 5 end */

/* page 6 start */
#page6 {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5vw 5vw 3vw 28vw;
    background-color: #151515;
}

#page6 h1 {
    font-family: 'plain light';
    font-size: 7.5vw;
    text-transform: uppercase;
    margin-bottom: 5vw;
    position: relative;
}

#page6 h1::before {
    content: "04";
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
    position: absolute;
    left: -15%;
    top: 8%;
}

#underline {
    height: 2px;
    background-color: #ffffff8d;
    margin: 2.5vw 0;
}

.footer-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3vw 0;
}

.footer-item-list {
    width: 33%;

}

.footer-item h6 {
    font-size: 1.1vw;
    font-family: 'plain';
    font-weight: 400;
    margin-bottom: 1.6vw;
}

.footer-item h5 {
    font-size: 1.65vw;
    font-family: 'plain';
    font-weight: 300;
}

#page6 h4 {
    font-size: 1.1vw;
    font-family: 'plain';
    font-weight: 200;
    margin-bottom: 1vw;
}

/* page 6 end */





/* gooey effect */
._canvas_container {
    z-index: 999999 !important;
    pointer-events: none;
}




